[Desktop Entry]
Type=Application
Name=digitalgulag
Comment=Activity tracking daemon
Exec=digitalgulag-daemon run
Icon=digitalgulag-daemon
Terminal=false
Categories=Utility;
StartupNotify=false
