PROJECT_NAME=digitalgulag
COMPOSE_PROJECT_NAME_DEV=${PROJECT_NAME}-dev
COMPOSE_PROJECT_NAME_PROD=${PROJECT_NAME}-prod

POSTGRES_USER=digitalgulag_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=digitalgulag

DEV_POSTGRES_PORT=5444
DEV_NGINX_PORT=5746
PROD_HTTP_PORT=80
PROD_HTTPS_PORT=443

GRAFANA_ADMIN_PASSWORD=change-me
PUBLIC_BASE_URL=https://yourdomain.com

